@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Ledger);
@import "normalize";
@import "bourbon/bourbon";

$primary:#414141;
$secondary:#545454;
$text:#444;
$accent:#4e3027;
$background:#f5f5f5;

$red:#EB5E5B;
$blue:#5695BF;
$green:#5AE897;
$yellow:#F1D35C;

$font:'Droid Sans', sans-serif;
$acfont:'Ledger', serif;
$codefont:'Droid Sans Mono', Menlo, sans-serif;


/* ANIMATIONS */

@include keyframes(blink) {
	0% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity:0; 
	}
	50% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity:1; 
	}
}

@include keyframes(square) {
	25% {
		@include transform(translateY(0px) translateX(0px));
	}
	50% {
		@include transform(translateY(50px) translateX(54px));
	}
	100% {
		@include transform(translateY(50px) translateX(54px));
	}
}
@include keyframes(circle) {
	50% {
		@include transform(translateY(0px));
	}
	75% {
		@include transform(translateY(50px));
	}
	100% {
		@include transform(translateY(50px));
	}
}

@include keyframes(triangle) {
	75% {
		@include transform(translateX(0px));
	}
	100% {
		@include transform(translateX(-54px));
	}
}

/* END ANIMATIONS */


* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	background:$background;
	color:$text;
	font: 18px/1.25em $font;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$acfont;
}

.top {
	background:$red;
	padding:15% 7.5%;
	h1, h2, h3, h4, h5, h6 {
		color:#fff;
	}
}

.work, .contact {
	width:85%;
	margin:0 auto;
	margin-bottom:2%;
	padding:2% 5%;
}

.contact {
	.email {
		text-align:center;
		a {
			color:$green;
			text-decoration:none;
		}
	}
}

.work {
	.workImg {
		float:left;
		display:inline-block;
		padding:0;
		margin:0;
		width:50%;
		height:200px;
	}
}

.window {
	width:75%;
	margin:0 auto;
	margin-top:-50px;
	margin-bottom:2%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:#fff;
	border:1px solid #c1c1c1;
	box-shadow:0 2px 2px #c4c4c4;
	border-top:25px solid lighten(#b4b4b4, 10);
	&:after {
		content:'';
		display:block;
		clear:both;
	}
}

.half {
	padding:2%;
	box-sizing:border-box;
	width:50%;
	float:left;
	min-height:300px;
}

.sublime {
	list-style:none;
	background:#262728;
	color:#f1f1f1;
	font-family:$codefont;
	font-weight:200;
	margin:0;
	line-height:1.15em;
	list-style:none;
	li {
		padding:0;
		margin:0;
	}
	.tab {
		margin-left:2em;
		list-style:none;
	}
	.red {
		color:#EB5E5B;
	}
	.blue {
		color:#5695BF;
	}
	.green {
		color:#5AE897;
	}
	.yellow {
		color:#F1D35C;
	}
	.comment {
		color: lighten(#262728, 30);
	}
	.currentLine {
		&:after {
			content:'';
			display:inline-block;
			height:20px;
			margin-top:5px;
			vertical-align:top;
			width:5px;
			border-right:2px solid #fff;
			@include animation(blink 1s infinite alternate);
			opacity:0;
		}
	}
}

.sketch {
	list-style:none;
	background:#fff;
	color:#262728;
	font-family:$font;
	font-weight:200;
	text-align:center;
	padding:5%;
	h2 {
		font-family:$font;
	}
	.square {
		display:inline-block;
		height:50px;
		width:50px;
		background:#EB5E5B;
		@include animation(square 5s infinite alternate);
	}
	.circle {
		display:inline-block;
		position:relative;
		height:50px;
		width:50px;
		background:#5695BF;
		border-radius:50px;
		z-index:1;
		@include animation(circle 5s infinite alternate);
	}
	.triangle {
		display:inline-block;
		height:0;
		width:0;
		border-left:25px solid transparent;
		border-right:25px solid transparent;
		border-bottom:50px solid #5AE897;
		@include animation(triangle 5s infinite alternate);
	}
}